body{
    margin: 0;
    padding: 0;
}

.container-movies{

    background-color:transparent;
    display:flex;
    flex-direction: row;

    align-items: center;
    max-width: 2000px;
    overflow: hidden;
    flex-wrap: wrap ;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
}
.items{
    font-family: Arial, Helvetica, sans-serif;
    border-color: transparent;
    text-align: center;
    font-weight: bold;
    height: 200px;
    font-size:  40px;
    flex:1;
    border-radius: 10px;
    flex-shrink: 3;
    /* border-color: black; */
    border-style: solid;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    flex: 1;
    width: 180px;
    height: 180px;
    border-radius: 8px;
    flex-shrink: 3;
    border-color:white;
    border-style: solid;
}

/* img:hover {
    width: 290px;
    height: 290px;
    cursor: pointer;
    border-style: solid;
    border-color: aliceblue;
    border: 0px;
} */

img +p {
    color:transparent;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
    margin-right: 4px;
}

/* img:hover +p {
    color:yellow;
    font-weight: 100;
    font-size: 12px;
} */

img +p +p {
    color:transparent;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
    margin-right: 4px;
}

img:focus-within::before{
    font-weight: 100;
    font-size: 12px;
    background:red ;
}

.items p{
    font-size: 10px;
}

@media all and (max-width:600px){

.container-movies{
    width: 390px;
}

}

.btn:focus-within{
    position: initial;
    content: '&#128420';
  }

  .nodisplay {
    display: none !important;
  }
  

  .f_usuario{
    border-color: black;
    border-style: solid;

  }