
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
   footer, header {
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 73, 122);
    flex-grow: 0;
    flex-shrink: 1;
  }
/* Estilo de la barra de menú */
.menu {
    display: flex;
    justify-content: flex-start;
    width:80%;
    align-items: center;
  }

ul{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

}

header .menu li {
  padding: 0
}

  header .menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;
    align-items: center;
    }

  main {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    padding: 4rem 


    
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* top | right | bottom | left */
  padding: 0.2rem 4rem 2rem 4rem;

  

}
main div {
  display: inline-flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin: 0.4rem;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}

.nodisplay {
  display: none !important;
}




